@page "/user-management/view-layout/{Id}"
@using DPWH.EDMS.Web.Client.Pages.UserManagement.UserForm

@inherits ViewUserBase
@attribute [Authorize(Policy = "RequireActiveRoles")]

<EdmsBreadcrumbs Data="@BreadcrumbItems" />
<EdmsLoader Visible="IsLoading" />

<h3>View User</h3>
<hr />

<UserForm Type="View" Id="@Id"/>
