@page "/request-management/add"
@using DPWH.EDMS.Web.Client.Pages.RequestManagement.RequestForm

@inherits AddRequestBase
@attribute [Authorize(Policy = "RequireActiveRoles")]

<EdmsBreadcrumbs Data="@BreadcrumbItems" />
<EdmsLoader Visible="IsLoading" />

<h3>Add New Request</h3>
<hr />

<RequestForm HandleOnCancel="OnCancel" HandleCreateOnSubmit="HandleSubmit" />