.detail-flex {
    display: flex;
    flex: 100;
    flex-wrap: wrap;
}

.detail-flex p {
    display: flex;
    flex-wrap: wrap;
    flex: 50;
    line-height: 35px;
}

.role-chip {
    background-color: #7F56D9;
    color: #fff;
    font-size: 12px;
    border-radius: 25px;
    padding: 3px 16px;
    margin: 0 10px;
}