@page "/profile"

@inherits UserProfileBase
@attribute [Authorize(Policy = "RequireActiveRoles")]


<EdmsBreadcrumbs Data="@BreadcrumbItems" />

<h3>Profile</h3>
<div class="d-flex flex-row align-items-center mb-2">
    <p>Juan Doe (ABC12345)</p>
    <span class="role-chip">Super Admin</span>
</div>
<p>Email: juan.doe@example.com / Contact: +63123456789</p>

<hr />

<TelerikTabStrip>
    <TabStripTab>
        <HeaderTemplate>
            <span class="bi me-2 material-symbols-outlined">demography</span>
            Personal Details
        </HeaderTemplate>
        <Content>
         <div class="d-flex flex-column">
                <div class="d-flex flex-row mb-2">
                    <p class="edms-text-header-small">Designation Details</p>
                </div>
                <div class="detail-flex">
                    <p><b>Regional/Central Office:</b>&nbsp;0000000</p>
                    <p><b>Position:</b>&nbsp; N/A</p>
                </div>
                <div class="detail-flex">
                    <p><b>District/Bureau/Service:</b>&nbsp; Lorem Ipsum</p>
                    <p><b>Designation:</b>&nbsp;Dolorem Ipsum</p>
                </div>
                <hr />
                <div class="d-flex flex-row mb-2">
                    <p class="edms-text-header-small">Account Information</p>
                </div>
                <div class="detail-flex">
                    <p><b>Account Status:</b>&nbsp; Active</p>
                    <p><b>Date Joined:</b>&nbsp;May 01, 2024</p>
                </div>
         </div>
        </Content>
    </TabStripTab>   
</TelerikTabStrip>