@page "/profile"

@inherits UserProfileBase
@attribute [Authorize(Policy = "RequireActiveRoles")]


<TelerikBreadcrumb Data="@BreadcrumbItems" />

<h3>Profile</h3>
<p>Juan Doe (ABC12345)</p>
<p>Email: juan.doe@example.com / Contact: +63123456789</p>

<hr />