@page "/qr-code-certificate/{FullName}/{DateCert}/{CertRefNo}/{RecordType}"
 
<div class="border-card mt-5">
    <div class="row">
        <div class="col-4 d-flex justify-content-center">
            <img src="_content/DPWH.EDMS.Components/images/dpwh_dark.png" class="logo-image" alt="logo-detailed" />
        </div>
        <div class="col">
            <div class="align-content-center mt-3">
                <p class="record-style">Department of Public Works and Highways</p>
                <p class="record-style">RECORD CERTIFICATE</p>
            </div>
        </div>
        <div class="col-12 mt-5">
            <p class="mb-0">The certification has been issued for the document</p>
        </div>
        <div class="col-12 mt-0">
            <p>requested by:</p>
        </div>
        <div class="mt-4 mb-4">
            <div class="row">
                <div class="col-12 mb-3">
                    Full Name : <span class="text-decoration-underline">@FullName</span>
                </div>
                <div class="col-12 mb-3">
                    @{
                        var dateForma = DateTime.ParseExact(DateCert, "MMMddyyyy", System.Globalization.CultureInfo.InvariantCulture);
                    }
                    Date and time certified : <span class="text-decoration-underline">@dateForma.ToString("MMMM dd, yyyy")</span>
                </div>
                <div class="col-12">
                    Control Number : <span class="text-decoration-underline">@CertRefNo</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public required string FullName { get; set; }
    [Parameter] public required string DateCert { get; set; }
    [Parameter] public required string CertRefNo { get; set; }
    [Parameter] public required string RecordType { get; set; }
}
