@using DPWH.EDMS.Web.Client.Shared.Nav
@using DPWH.EDMS.Web.Client.Shared.Services.Navigation

@inherits LayoutComponentBase

@inject NavRx NavRx

<div class="page">
    <main>
        <div class="top-row">
            <NavMenu />
        </div>

        <article class="content px-4" style="margin-left: @(IsSidebarExpanded ? "320px" : "64px");">
            @Body
        </article>
    </main>
</div>

@code {
    protected bool IsSidebarExpanded = false;

    protected override void OnInitialized()
    {
        NavRx.IsExpanded.Subscribe((res) =>
        {
            IsSidebarExpanded = res;
            StateHasChanged();
        });
    }
}
