@page "/my-records/{Id}"
@using DPWH.EDMS.Components.Helpers
@inherits RecordsPersonalData

<EdmsBreadcrumbs Data="@BreadcrumbItems" />

<h3>My Records</h3>
@* <span>Personal Data Sheet</span><br />
<span>To view associated request </span> <NavLink href="/Personal-data">Click here</NavLink>
<span>
    (Control Number: <span style="color: #38339B;">@EmployeeList[Id-1].ControlNumber</span>
    / Date Requested: <span style="color: #38339B;">@(GenericHelper.GetDateDisplay(EmployeeList[Id-1].DateRequested, "MM/dd/yyyy")))</span>
</span> *@
<hr />
<TelerikCard Width="100%">
    <CardBody>
        <CardTitle>
            <div class="d-flex justify-content-between">
                <label class="headName">
                    @Record.DocumentName
                </label>
                <TelerikButton Class="dlButton">Download</TelerikButton>
            </div>
        </CardTitle>
        <CardSeparator Class="my-2"></CardSeparator>
        <div class="container">
            
            <CardImage Class="pdf-placeholder" Width="100%" Src="_content/DPWH.EDMS.Components/images/pdf-placeholder.png"></CardImage>
        </div> 
    </CardBody>
</TelerikCard>

@code{
    
}
<style>
    .pdf-placeholder {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .container{
        width: 50%;
    }
    .dlButton{
        background-color: #38339B;
        color: white;
    }

    .headName{
        color: #38339B;
        margin-bottom:0;
        align-content: center;
    }
</style>