#main-nav {
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 3;
    /*padding-left: 30px;
    padding-right: 30px;*/
}

    #main-nav .navbar-brand img {
        max-width: 300px;
        width: 100%;
    }

    #main-nav a.login {
        /* border: 2px solid #0073EC;*/
        /*border-radius: 10px;*/
        padding: 5px 20px;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }

    #main-nav .rv-right-nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

.menu-divider {
    height: 1px;
    margin: 5px;
    background-color: #ccccccd1;
    padding: 0px 111px;
    border-radius: 50%;
}

.sidebar {
    background-color: #211d70;
    width: 64px;
    position: fixed;
    height: 100%;
    z-index: 3;
    transition: 200ms;
    overflow-y: auto;
}
    ::-webkit-scrollbar{
        display: none;
    }

    .sidebar .sidebar-container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

        .sidebar .sidebar-container #sidebar-expander {
            position: fixed !important;
            bottom: 0;
            color: #fff;
            left: 16rem;
        }
        .sidebar .sidebar-container #sidebar-expander-closed {
            position: relative !important;
            bottom: 0;
            color: #fff;
            right: 0;
        }
        


    .sidebar .logo img {
        width: 280px;
        height: auto;
        padding: 8px 5px;
    }


ul.nav-link-subitem {
    list-style: none;
    padding-left: 10px;
    overflow: auto;
    max-height: 60vh;
}
ul.nav-link-subitem-closed {
    list-style: none;
    padding-left: 0px;
    overflow: auto;
    max-height: 60vh;
}

div.avatar-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 8px;
}

    div.avatar-container div.avatar img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #cacaca;
    }

    div.avatar-container div.details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

        div.avatar-container div.details div.name {
            color: #FFF;
            font-size: 16px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }

        div.avatar-container div.details div.role {
            color: #CCB5FF;
            font-size: 12px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
        }
